/**
 * Base Variables
 */
$font-header: 'Space Mono', monospace;
$font-body: 'Inconsolata', monospace;
$font-post: 'Lora', serif;

$color-alpha: #9f8f68;
$color-alpha--light: #f5f3ef;

$color-black: #0a0a0a;
$color-grey: #f8f9f9;
$color-white: #fff;

$mq-xs: 20em;
$mq-sm: 30em;
$mq-md: 54em;
$mq-lg: 64em;
$mq-xl: 76.5em;
$mq-xxl: 114em;

/**
 * Base Settings/Overwrite Normalize
 */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: $font-body;
  font-display: swap;
  font-feature-settings: 'liga' 0;
  font-size: 100%;
  line-height: 1.6;

  @media (min-width: $mq-xs) {
    font-size: 90%;
  }

  @media (min-width: $mq-sm) {
    font-size: 90%;
  }

  @media (min-width: $mq-md) {
    font-size: 90%;
  }

  @media (min-width: $mq-lg) {
    font-size: 90%;
  }

  @media (min-width: $mq-xl) {
    font-size: 95%;
  }

  @media (min-width: $mq-xxl) {
    font-size: 100%;
  }
}

h1, h2 {
  margin: 0;

  font-family: $font-header;
  font-display: swap;
}

h1 {
  $fontSize: 3em;

  @media (min-width: $mq-md) {
    font-size: $fontSize;
  }

  @media (min-width: $mq-xl) {
    font-size: $fontSize + 0.5em;
  }
}

p {
  margin: 0 0 0.75em;
}

a {
  color: $color-black;
  text-decoration: none;
  transition: color 0.4s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    color: $color-alpha;
  }
}

figure {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

ol, ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

hr {

    border: none;
    border-top: 1px dotted #888;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 50%;
    margin: 2.5em auto;
}

/**
 * Text Selection
 */
::selection {
  color: $color-white;
  background-color: $color-alpha;
  text-shadow: none;
}
